__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
.vscode/
.idea/
app/database/database.db
app/uploads/
uploads/
.gemini/
antigravity/
